@keyframes slide-left {

  from {
    transform: translateX(-1800px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {

  from {
    transform: translateX(500px);
  }

  to {
    transform: translateX(0);
  }
}

#hero {
  animation-name: slide-left;
  animation-duration: 0.4s;
}

#info {
  animation-name: slide-right;
  animation-duration: 0.4s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 122px;
}

.nav-link:hover {
  border-bottom: 3px solid #FFB930;
}