@media (max-width: 1267px) {
    .products-container {
        flex-wrap: wrap;
    }
}

@media (max-width:800px) {
    .items-div {
        display: none;
    }

    #bars-icon {
        display: flex;
    }

}

@media(min-width: 780px) {
    .dropDown {
        display: none;
    }
}

@media(max-width: 579px) {
    #info p {
        font-size: 35px;
        padding: 20px;
    }


}

@media (max-width: 536px) {
    footer {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .left-h2 {
        padding: 0;
    }

    .right-h2 {
        padding: 0;
    }

    .footer-navigation {
        display: none;
    }

}

@media(max-width: 474px) {
    .cardImg {
        width: 250px;
    }

    .infoProduct {
        width: 225px;

    }

    .h2Prod {
        font-size: 25px;
    }

    #form input,
    textarea {
        width: 230px;
    }

}

@media (max-width: 421px) {
    .cart-content {
        width: 100%;
        border-radius: 0px;
    }

    #products input {
        width: 250px;
    }
}

@media(max-width: 314px) {
    .h2-products {
        font-size: 40px;
    }

    #contact h2 {
        font-size: 40px;
    }

    .h2Prod {
        font-size: 20px;
    }

    #products input {
        width: 200px;
    }

    .cardImg {
        width: 150px;
    }

    #form input,
    textarea {
        width: 200px;
    }
}

@media(max-width:261px) {

    #form input,
    textarea {
        width: 130px;
    }

    #logo {
        width: 100px;
    }

    .infoProduct {
        width: fit-content;
    }
}

@media(max-width: 228px) {
    #logo {
        width: 80px;
    }
}

@media(max-width: 213px) {
    #logo {
        width: 50px;
    }

    p {
        font-size: 10px;
    }

    #products input {
        width: 150px;
    }

    #products h2 {
        font-size: 30px;
    }

    h2 .h2Prod {
        font-size: 9px;
    }

}