@media (max-width: 1267px) {
    .products-container {
        flex-wrap: wrap;
    }
}

@media (max-width:800px) {
    .items-div {
        display: none;
    }

    #bars-icon {
        display: flex;
    }

}

@media(min-width: 780px) {
    .dropDown {
        display: none;
    }
}

@media(max-width: 579px) {
    #info p {
        font-size: 35px;
        padding: 20px;
    }


}

@media (max-width: 536px) {
    footer {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .left-h2 {
        padding: 0;
    }

    .right-h2 {
        padding: 0;
    }

    .footer-navigation {
        display: none;
    }

    .cart-content {
        width: 100%;
        border-radius: 0px;
    }

    #products input {
        width: 250px;
    }

}

@media (max-width: 524px) {
    .card-container {
        flex-direction: row;
        gap: 40px;
        border: 1px solid #b0b6bb;
        border-radius: 10px;
    }

    .cardImg {
        width: 150px;
    }
}

@media(max-width: 360px) {
    .h2-products {
        font-size: 25px;
    }

    #products input {
        width: 200px;
    }

    #info p {
        font-size: 20px;
    }

    .cardImg {
        width: 50px;
    }



}

@media(max-width:261px) {


    #logo {
        width: 100px;
    }
}

@media(max-width: 234px) {
    #logo {
        width: 80px;
    }

    #username,
    #email,
    #text-area,
    #contact-btn {
        width: 150px;
    }

    .btn-add {
        font-size: 10px;
    }

    .card-container {
        gap: 20px;
    }
}

@media(max-width: 213px) {
    #logo {
        width: 50px;
    }

    p {
        font-size: 10px;
    }

    #products input {
        width: 150px;
    }

    h2 .h2Prod {
        font-size: 9px;
    }

}