* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    /* display: flex; */
    /* animation-name: fade-in; */
    animation-duration: 1s;
    /* background: rgb(24, 40, 47);
    background: linear-gradient(266deg, rgba(24, 40, 47, 1) 7%, rgba(42, 40, 21, 1) 28%, rgba(19, 32, 37, 1) 71%); */
}

.bg-img {
    background-image: url("../productos/portada1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    margin-top: 123px;
}

h1 {
    position: relative;
    z-index: 0;
}