* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
    gap: 20px;
    /* padding-top: 40px; */
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 40px;
    /* margin: 40px 0 40px 0; */
}

#products input {
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    /* box-shadow: 0 2px 6px ; */
    -moz-box-shadow: inset 0 0 10px #858585;
    box-shadow: inset 0 0 10px #858585;
    outline: none;
    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 10px;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cardImg {
    width: 200px;
}

.products-container {
    margin-bottom: 60px;
    padding-top: 40px;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.display-none {
    display: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: #18282f; */
    /* border: 1px solid #18282f; */
    border-radius: 40px;
    color: #18282f;
    padding: 10px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-add {
    cursor: pointer;
    background-color: #FFB930;
    border: none;
    color: #18282f;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px;
    width: 200px;
}

.infoProduct {
    width: 155px;
}

.h2Prod {
    font-size: 15px;
}

label {
    padding-bottom: 5px;
}

.notFoundError {
    color: #a4a4a4;
    padding: 50px;
    display: none;

}

.notFoundError-display {
    display: block;
}