* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    background-image: url("../productos/lunallena-back-mix.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100dvh;
}