* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#products {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-image: url('../../public/productos/background-vegetables.jpg'); */
    gap: 20px;
}

.h2-products {
    font-family: "Anton", sans-serif;
    font-size: 60px;
    font-style: normal;
    padding-top: 30px;
    color: #263941;
}

#products input {
    width: 300px;
    padding: 16px;
    border-radius: 30px;
    border: 2px solid #b0b6bb;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 13px;
    font-family: "Freeman", sans-serif;
}

.cardImg {
    width: 200px;
}

.products-container {
    margin-bottom: 60px;
    padding-top: 40px;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    background-color: white;
    /* border: 2px solid #ffffff; */
    border-radius: 20px;
}

.display-none {
    display: none;
}

.search-container {
    /* background-image: url("../../public/productos/background-vegetables.jpg"); */
    width: 100%;
    /* padding-bottom: 50px; */
    /* border-bottom: 5px solid #c3cfd4 ; */
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #18282f;
    padding: 10px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-add {
    cursor: pointer;
    background-color: #FFB930;
    border: none;
    color: #18282f;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 23px;
    padding: 9px;

}

.infoProduct {
    width: 155px;
    color: #263941;
}

.h2Prod {
    font-size: 15px;
    color: #263941;
}

label {
    padding-bottom: 5px;
}

.notFoundError {
    color: #a4a4a4;
    padding: 50px;
    display: none;

}

.notFoundError-display {
    display: block;
}