:root {

    /* colors */

    --h2-color: #263941;
    --border-grey: #b0b6bb;
    --background-white: #ffffff;
    --font-color: #18282f;
    --btn-color: #FFB930;
    --btn-hover: #ffd952;
    --notFound-color: #a4a4a4;

    /* font-size */

    --h2-fontsize: 50px;
    --input-fontsize: 13px;
    --btn-fontsize: 15px;
    --h2prod-fontsize: 13px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: var(--background-white);
}

.h2-products {
    font-family: "Lora", serif;
    font-size: var(--h2-fontsize);
    font-style: normal;
    padding: 30px;
    color: var(--h2-color);
}

#products input {
    width: 300px;
    padding: 16px;
    border-radius: 30px;
    border: 2px solid var(--border-grey);
    outline: none;
    background-color: var(--background-white);
    font-weight: bold;
    font-size: var(--input-fontsize);
    font-family: "Lora", serif;
}

.cardImg {
    width: 200px;
    transition: all 0.2s;
    
}

.products-container {
    margin-bottom: 60px;
    padding-top: 40px;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    border-radius: 20px;
}

.display-none {
    display: none;
}

.search-container {
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--font-color);
    padding: 10px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-add {
    cursor: pointer;
    background-color: var(--btn-color);
    border: none;
    color: #2e4853;
    font-family: "Anton", sans-serif;
    font-size: var(--btn-fontsize);
    padding: 9px;

}

.btn-add:hover {
    background-color: var(--btn-hover);
}

.infoProduct {
    width: 155px;
    color: var(--h2-color);
}

.h2Prod {
    font-family: "Lora", serif;
    font-size: var(--h2prod-fontsize);
    font-weight: bold;
    color: var(--h2-color);
}

.notFoundError {
    color: #b0b6bb;
    font-size: 30px;
    padding: 50px;
    display: none;

}

.notFoundError-display {
    display: block;
}